.courseStyle {
    border-style: solid;
    border-color: #0CB7F2;
    height: 100%;
}
.divContentCourse {
    height: 75%;
    float: left;
    margin: 1%
}
.divContentRightCourse {
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    margin: 0px 10px 0px 10px;
}
